<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit
      (ingredientAdded)="onIngredientAdded($event)"
    ></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients"
        [ngStyle]="{
          backgroundColor: ingredient.required === 'Yes' ? '#a6f593' : '#fa9696'
        }"
      >
        {{ ingredient.name }}
        <span class="badge progress-bar-info badge-pill">{{
          ingredient.amount
        }}</span>
        - {{ ingredient.category }} - ${{ ingredient.price }}
      </a>
    </ul>
  </div>
</div>
<p [appBetterHighlight]="'red'" [defaultColor]="'yellow'">
  END OF SHOPPING LIST
</p>
