input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.valid {
  color: green;
  font-size: large;
  border: solid;
}

.required {
  color: red;
  background-color: black;
}

.special {
  border-radius: 2px;
  border-style: dashed;
  background-color: orange;
}

.dirty {
  border-color: pink;
  border-radius: 1px;
  border-style: groove;
}

.pending {
  align-self: center;
  font-variant: small-caps;
  pointer-events: stroke;
}

.warning {
  color: red;
  stroke: black;
  background-color: orange;
}
