.main {
  margin: 5px;
  display: flex;
  background-color: #882222;
}

.ingredient-table {
  margin: 2px;
  font-size: 10;
}

.ingredient {
  font-size: 9px;
  color: #3399ff;
  background-color: #882222;
  display: flex;
  align-self: auto;
}

.draggable {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.required {
  color: red;
  font-style: bold;
  outline: black;
}

.optional {
  color: green;
  outline: black;
}

.dairy {
  color: #3399ff;
  outline: black;
}

.produce {
  color: #fee1fe;
  outline: black;
}

.protein {
  color: #4f4f4f;
  outline: black;
}

.grain {
  color: #9fff39;
  outline: black;
}

.other {
  color: #2e2e2e;
  outline: white;
}
